* {
    box-sizing: border-box;
  }

  header{
    position: relative;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 100px;
    
    position: fixed; 
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;

    border: 2px solid rgb(137, 95, 221);
  }
  @media screen and (max-width: 767.98px){
    header{
      display: block ;
    }
  }

  header:hover{
    box-shadow: 0px 15px 15px rgba(155, 222, 217, 0.2);
  }


  nav.out_nav{
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid rgb(184, 233, 26);
  }


  nav.out_nav li{
    margin-right: 5%;
    /* 消清單點點 */
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    min-width: 90px;
    border: 2px solid red;
  }

  .nav_list a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #042D41;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
  }

  nav a:hover{
    border-bottom: 1px solid #042D41;
  }


  nav.out_nav li a{
    /* width: 50px; */
    text-align: center;
    border: 1px solid rgb(184, 233, 26);
  }


  .logo_top{
    position: absolute;
    top: 50%; 
    left: 40px;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/logo_ori.svg);
    border: 1px solid rgb(103, 122, 42);
  }

 

  nav.main_nav{
    margin: 0 auto;
    border: 5px solid rgb(5, 5, 5);
  }

  @media screen and (min-width: 768px){
    nav.main_nav{
      display: flex !important;
      align-items: center;
    }
    
    nav.out_nav li{
      position: absolute;
      top: 50%; 
      right: 0;
      transform: translateY(-50%);
      border: 2px solid red;
    }
  }

  ul.nav_list{
    min-width:600px;
    display: flex;
    
    justify-content: space-between;
    /* list-style: none; */
    margin: 0 auto;
    border: 1px solid rgb(34, 0, 255);
  }
  @media screen and (max-width: 992px){
    ul.nav_list{
      min-width:400px;
    }
  }

  ul.nav_list li{
   border: 1px solid rgb(0, 255, 153);
  }
  
  /* 行動版時，調整列表樣式 */
  @media screen and (max-width: 767.98px){
    ul.nav_list{
      display: block;
    }
   
  }
  
  button.btn_switch{
    display: none;
  }

  /* 行動版時，將按鈕顯示出來 */
  @media screen and (max-width: 767.98px){
    button.btn_switch, .out_nav a:nth-child(n+2){
      display: inline-block;
    }

    nav.out_nav{
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(184, 233, 26);
    }

    nav.out_nav li{
      margin-left: auto;
      border: 3px solid rgb(240, 255, 190);
    }

    nav.out_nav li a{
      text-align: center;
      border: 1px solid rgb(184, 233, 26);
    }

    .logo_top{
      width: 60px;
      height: 60px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../img/logo_ori_noW.svg);
      /* border: 1px solid rgb(103, 122, 42); */
    }

    .nav_list li{ 
      text-align: center;
      margin: 70px 0;
    }
  }



  




  
/*-----------------------------------主選單--------------------------------  */
/*
.top_main{
    margin: 300px auto;
    width: 100%;
    background-color: #fff;
    height: 100px;
    

    position: fixed; 
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    /* border: 3px solid black; */
}

.top{
    width: 1280px;
    display: flex;
    margin: 0 auto;
    height: 100px;
    align-items: center;
   
    justify-content: space-between;
    /* padding: 0 80px;    */
    
    /* box-shadow: 0px 5px 15px rgba(155, 222, 217, 0.510559); */
    /* border: 1px solid black; */

}

.top_main:hover{
    
    box-shadow: 0px 15px 15px rgba(155, 222, 217, 0.2);
}


.nav{
    /* margin: 0 auto; */
    width: 636px; 
    /* border: 1px solid black; */
}


.top li{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.top nav, .top .nav2{
    width: 100px;
    /* border: 2px solid black; */
}

/* 頂部logo */
.logo_top img{
    /* display: block; */
    height: 70px;
    /* border: 2px solid black;    */
}

/* 中間主選單 */
.nav a{
    /* flex-shrink: 1; */
    text-decoration: none;
    text-align: center;
   
    font-size: 18px;
    color: #042D41;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
    /* border: 2px solid black;    */
}


.nav a:hover{
    border-bottom: 1px solid #042D41;
} 