/*-----------------------------------主選單--------------------------------  */
.nav li a:last-child{
    padding-bottom: 10px;
    border-bottom: 1px solid #042D41;
}


/*-----------------------------------常見問答------------------------------  */
.qa_list_All{
    margin: 100px auto 0; 
    position: relative;
}

/* Q&A大標題 */
.qa_list_main h1{
    padding: 80px 0 50px 0;
    /* 小標題 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.2em;
    /* 深靛藍 */
    color: #042D41;
    
}



/* 問答索引 */
.qa_list_index{
    width: fit-content;
    margin: 0 100px;
    padding-left: 20px;
    position: absolute;
    top: 190px;
    border-left: 1px solid #23718A;
}

.qa_list_index li{
    display: block;
    padding-bottom: 30px;
    /* border: 1px solid black; */
}

.qa_list_index li:last-child{
    padding: 0px;
}

.qa_list_index li a{
    text-decoration: none;
}


.pdcUse, .member, .pack, .buy{
    /* 內文 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /* identical to box height, or 214% */
    text-align: center;
    letter-spacing: 0.25em;
    /* 淺藍綠 */
    color: #8BBBB7;
    /* border: 1px solid black; */
}

li a:hover{
    /* 選中的篩選列 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25em;
    /* 深藍綠 */
    color: #23718A;
    /* border: 1px solid black; */
}

.buy{
    /* 選中的篩選列 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25em;
    /* 深藍綠 */
    color: #23718A;
}
/* 問答索引 */


@media (max-width: 1199.88px){
    .qa_list_index{
        margin: 0 auto; 
        display: flex;
        z-index: 1;
        width: 100%;
      
        padding: 0;
        
        top: 90px;
        border-left: 0px;
        border-bottom: 1px solid #23718A;
        /* border: 1px solid black; */
    }

    .qa_list_index li{
        margin: 0 auto; 
        /* padding: 20px; */
        display: flex;
        padding-bottom: 30px;
        /* border: 1px solid black; */
    }

    .qa_list_index li:last-child{
        /* padding: 20px; */
    }
    

    .qa_list_main h1{
        
        padding: 0;
        padding-bottom: 100px;
        /* border: 1px solid black; */
        
    }
}





/* --------收縮問答列表---------- */
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    color: #8BBBB7;
    padding-right: 5px;
  }
  .container{
    
    width: 100%;
    background: linear-gradient(358.48deg, #8BBBB7 -36.45%, rgba(155, 222, 217, 0.510559) -36.45%, rgba(139, 187, 183, 0) 32.68%);
  }
  
  .row{
    margin: 0 auto;
    max-width: 650px;
    /* border:  1px solid #000; */
  }
  
  .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
  }
  .panel-title > a:hover, 
  .panel-title > a:active, 
  .panel-title > a:focus  {
    text-decoration:none;
  }
  .panel-default > .panel-heading {
    background-color: rgba(139, 187, 183, 0.25);
    color: #042D41;
    padding: 15px;
    border-bottom: 0px solid transparent;
    border-top-right-radius: 0px;
  
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2em;
  
  }
  
  
  
  
  .panel {
    margin-bottom: 20px !important;
    background-color: #ffffff;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
  
    
  
    /* 內文 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #23718A;
    text-align: left;
    
    
  }
  .jumbotron {
    background: #ffffff;
    padding: 0;
   
  }
  
  
  







