

/* 註冊底線維持 */
.login a:first-child{
    padding-bottom: 10px;
    /* 深靛藍 */
    border-bottom: 1.5px solid #042D41;
}



/* 登入底線消失 */
.login a:last-child{
    padding-bottom: 10px;
    /* 深靛藍 */
    border-bottom: 0px solid #042D41;
}

