/*-----------------------------------麵包屑------------------------------  */
.filter{
    display: flex;
    max-width: 1064px;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0 auto 85px;
    padding-top: 40px  ;
    /* border: 1px solid rgb(8, 31, 163); */
}

.filter li{
    /* 未選中的篩選列 */
    flex-grow: .02;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}


.filter li:first-child{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    /* border: 1px solid rgb(196, 16, 16); */
}

.filter .faf{
    color: #23718A;
    /* border: 2px solid rgb(245, 230, 17); */
}

.filter a, .filter{
    text-decoration: none;
     /* 淺藍綠 */
     color: #8BBBB7;
     /* border: 1px solid rgb(8, 31, 163); */
}
/*-----------------------------------麵包屑------------------------------  */


/*-----------------------------------商品帳單資訊------------------------------  */
.shop_listAll{
    
    position: relative;
    background: rgba(139, 187, 183, 0.1);
}


.shop_list_main{
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 100px;
    padding-bottom: 670px;
    /* border: 1px solid rgb(8, 31, 163); */
    position: relative;
}



/*-----------------------------------商品帳單資訊_清單------------------------------  */
.shop_list_tab{
    position: relative;
    width: 100%;
    margin: 0 auto;
     /* 深藍綠 */
     /* color: #23718A; */
    /* border: 1px solid rgb(8, 31, 163); */
}

.shop_list_title{
    /* 內文 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    letter-spacing: 0.25em;
    /* 深靛藍 */
    color: #042D41;
     /* 底橫列淺藍綠 */ 
    border-bottom:0.5px solid #8BBBB7;
    /* border: 2px solid rgb(237, 241, 5);   */
}

.pdc_list_no{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 26px; */
    letter-spacing: 0.2em;
    /* border: 2px solid rgb(52, 241, 5);   */
}

/* li_test */
.list_t1{
    display: flex;
    position: relative;
    /* border: 2px solid rgb(241, 92, 5);   */
}

.list_t1 img{
    width: 80px;
}

/* 商品名稱 */
.list_t1 ol{
    display: flex;
    align-items: center;
   
    padding-right: 30px;
    /* 選中的篩選列 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25em;
    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(52, 241, 5);   */
}

.list_t1 ol:first-child{
   padding: 20px;
    /* border: 2px solid rgb(5, 194, 241);   */
}

.list_t1 ol:nth-child(3){
    padding: 0px;
    max-width: 200px;
    /* border: 2px solid rgb(5, 194, 241);   */
 }

 /* 單價 */
.shop_list td:nth-child(3){
    padding-left: 100px;
    /* width: 50px; */
    /* 價錢 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    /* line-height: 26px; */
    /* identical to box height */
    letter-spacing: 0.2em;

    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(52, 241, 5);   */
}


.shop_list{
    /* 底橫列淺藍綠 */ 
    /* display: flex; */
    border-bottom:0.5px solid #8BBBB7;;
}

/* 加入收藏 */
.like i{
    padding-right: 2px;
      /* border: 2px solid rgb(80, 23, 75);   */
}

.like::before{
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    padding-right: 3px;
    background-repeat: no-repeat;
    background-image: url(../img/bookmark-regular.svg);
}




td{
    vertical-align: middle;
    /* border: 2px solid rgb(80, 23, 75);   */
}

/* 標題:價格&小計 */
.shop_list_title td:nth-last-child(-n+2){
    padding-left: 100px;
    /* border: 2px solid rgb(80, 23, 75);   */
}


.shop_list td{
    height: 175px;
    /* border: 2px solid rgb(80, 23, 75);   */
}

/* 數量 */
.shop_list td:nth-child(2){
    width: 100px;
    /* border: 1px inset rgb(19, 46, 43);   */
}



/* 小計價格 */
.shop_list td:nth-last-child(2){
    padding-left: 100px;
    width: 40px;
    /* 加入購物車 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.2em;
    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(9, 5, 241);   */
}

/* 垃圾桶 */
.shop_list td:last-child{
    padding-right: 10px;
    padding-left: 40px;
    /* border: 2px solid rgb(241, 186, 5);   */
}

.shop_list .del a{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #8BBBB7;
     /* border: 2px solid rgb(241, 186, 5);   */
}

.shop_list .del a:hover{
    color: #bf6767;
}




/* 加入收藏 */
.list_t1 .like{
    position: absolute;
    top: 130px;

    text-decoration: none;
   /* 未選中的篩選列 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    /* 深靛藍 */
    color: #042D41;
   /* border: 2px solid rgb(52, 241, 5);   */
}
/* 加入收藏 */


@media (max-width: 990px){
   /* 標題:價格&小計 */
    .shop_list_title td{
        padding: 0px;
        /* border: 2px solid rgb(80, 23, 75);   */
    }

    /* 標題:價格&小計 */
    .shop_list_title td:nth-last-child(-n+2){
        padding-left: 40px;
        /* border: 2px solid rgb(80, 23, 75);   */
    }
       /* 數量 */
    .shop_list td:nth-child(2){
        /* display: inline-block; */
        /* display: block; */
        margin: 0 auto;
        margin-bottom: 30px;
        height: 100%;
        /* border: 1px inset rgb(19, 46, 43);   */
    }

    /* 單價 */
    .shop_list td:nth-child(3){
        padding-left: 40px;
        /* border: 2px solid rgb(52, 241, 5);   */
    }
    
    /* 小計價格 */
    .shop_list td:nth-last-child(2){
        padding-left: 30px;
        /* border: 2px solid rgb(9, 5, 241);   */
    }
     
    
}

@media (max-width: 740px){
    .shop_list{
        display: block;
        position: relative;
          /* border: 2px solid rgb(5, 194, 241);   */
    }

    /* 商品名稱 */
    .list_t1 ol:nth-child(3){ 
        position: relative;
        padding: 0px;
        padding-bottom: 55px;
        max-width: 200px;
        /* border: 2px solid rgb(5, 194, 241);   */
     }

    /* 數量 */
    .shop_list td:nth-child(2){
        /* display: inline-block; */
        /* display: flex; */
        display: block;
        margin-left: 60px;
        margin-bottom: 30px;
        height: 100%;
        /* border: 1px inset rgb(19, 46, 43);   */
    }
     
    /* 單價 */
    .shop_list td:nth-child(3){
        position: absolute;
        left: 190px; 
        top: 75px;
        display: block;
        padding-left: 0px;
        height: 20px;
        width: 100px;
        font-size: 14px;
        /* border: 2px solid rgb(52, 241, 5);   */
    }

    .shop_list_title{
      display: none;
        /* border: 2px solid rgb(237, 241, 5);   */
    }

    .shop_list{
        border-top:0.5px solid #8BBBB7;
    }

    /* 小計價格 */
    .shop_list td:nth-last-child(2){
        /* display: inline-block; */
        position: absolute;
        right: 5%;
        bottom: 20%;
        text-align: end;
        padding-left: 0px;
        height: 20px;
        font-size: 16px;
        width: 100px;
        /* border: 2px solid rgb(9, 5, 241);   */
    }

    /* 垃圾桶 */
    .shop_list td:last-child{
        position: absolute;
        right: 0%;
        top: 0%;
        /* display: block; */
        width: 40px;
        height: 40px;
        padding-right: 0px;
        padding-left: 0px;
        /* border: 2px solid rgb(241, 186, 5);   */
    }

    .shop_list .del a{
        display: block;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        
        /* border: 2px solid rgb(241, 186, 5);   */
    }

    .ctrl {
        width: 80px;
        /* border: 3px solid rgb(5, 166, 241);   */
    }

    .ctrl__counter {
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        /* border: 3px solid rgb(5, 166, 241);   */
    }

    .ctrl__button {
        font-size: 20px;  
        line-height: 30px;
        /* border: 3px solid rgb(5, 166, 241);   */
      }

    .ctrl__counter-num {
        line-height: 30px;
        /* border: 3px solid rgb(5, 166, 241);   */
    }

}



/*-----------------------------------結帳總計&下一步------------------------------  */
.shop_list_Alltotal{
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    
    /* border: 2px solid rgb(5, 40, 241);   */
}

.shop_list_Alltotal tr{
    height: 50px;
    /* border: 2px solid rgb(202, 129, 202);   */
}

.shop_list_Alltotal td:first-child{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25em;
    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(37, 135, 13);   */

}



/* 免運費 */
.shop_list_main p{
    margin-left: auto;
    width: 200px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.25em;

    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(13, 27, 135);   */
}

.shop_list_Alltotal td:last-child{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.2em;
    text-align: right;

    /* 深靛藍 */
    color: #042D41;
    /* border: 2px solid rgb(13, 27, 135);   */
}



/* 下一步 */
.next{
    float: right;
    /* border: 2px solid rgb(13, 27, 135);   */
}


.add_pdc{
    margin: 55px 0 25px 0;
    display: block;
    text-decoration: none;
    max-Width:200px;
    Height :45px;
    background: #042D41;

    font-family: Noto Sans TC;
    font-style: normal;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    /* border: 2px solid rgb(57, 143, 36); */
}


.next li:nth-last-child(-n+3){
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    letter-spacing: 0.25em;
    /* 深靛藍 */
    color: #042D41;
     /* border: 2px solid rgb(57, 143, 36); */
}


/* 優惠代碼 */
.sale_all{
    position: absolute;
    bottom: 720px;
    display: flex;
    /* border: 2px solid rgb(57, 143, 36); */
}

.sale{
    margin-right: 10px;
    /* width: 305px; */
    height: 50px;
    border: none;

    /* 選中的篩選列 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25em;
    
    /* 深靛藍 */
    color: #042D41;
     /* border: 2px solid rgb(57, 143, 36); */
}


::placeholder{
    padding-left: 10px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 350;
    font-size: 12px;
    letter-spacing: 0.2em;

    /* 淺藍綠 */
    color: #8BBBB7;
}


.re_new{
    max-Width:80px;
    Height:50px;
    text-align: center;
    background: rgba(4, 45, 65, 0.5);
    /* border: 2px solid rgb(143, 36, 125); */
    border: none;
}

.re_new{
    text-decoration: none;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

@media (max-width: 575.98px){
    .sale_all{
      padding: 10px;
      top: 620px;
       
        /* border: 2px solid rgb(57, 143, 36); */
    }

    /* 代碼輸入框 */
    .sale{
        height: 30px;
         /* border: 2px solid rgb(57, 143, 36); */
    }

    .re_new{
        height: 30px;
        font-size: 14px;
        line-height: 30px;
    }

    .shop_list_Alltotal{
        margin-right: 10px;
        margin-top: 80px; 
        /* border: 2px solid rgb(52, 241, 5);   */
    }

    .shop_list_main p{
        margin-right: 10px;
    }

    /* 下一步 */
    .next{
    margin-right: 10px;
    float: right;
    /* border: 2px solid rgb(13, 27, 135);   */
    }


   
    
}






